# Introduction

Initial Particle Positions:

Particles are initialized at the intersection of Lake Huron watersheds with the shoreline.
To ensure starting points are within the lake, these intersection points are snapped 50 meters toward the lake.
The create initial position module is used to generate multiple particles around each primary starting point for enhanced resolution.

# Creating the initial position file using watershed pourpoints
The following code read the pour points extracted from Arc gis from the intersection of watersheds with lake huron boundary.
 We are using PyLag Create initial position function to Create a release Zone for each of the Pour points. Before creating the initial positions, We want to add a condition to make a the relase zone that are in the boundary of Lake Huron.
 
 Then using Pylag create initial position file it will create a release zone for each pour point/groupid, in the end each group_id will contain sets of release zone 
 6/3/2024

#### Part 1-1: Import required libraries

In [3]:
import os
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point, box
import matplotlib.pyplot as plt
from pylag.processing.coordinate import get_epsg_code, utm_from_lonlat, lonlat_from_utm
from pylag.processing.coordinate import utm_from_lonlat, lonlat_from_utm
from pylag.processing.release_zone import create_release_zones_along_cord
from pylag.processing.plot import create_figure, colourmap
from pylag.processing.plot import FVCOMPlotter
from pylag.processing.release_zone import create_release_zone
from pylag.processing.input import create_initial_positions_file_multi_group
from pylag.processing.input import create_initial_positions_file_single_group

# Input path/ files

In [ ]:
# path to pourpoint 
pourpoints = r"/mnt/d/Users/abolmaal/Arcgis/NASAOceanProject/GIS_layer/pourpoints"

init_file = os.path.join(pourpoints, 'WatershedPourPoints_NAD1983.dat')

# Output path

In [ ]:
# path to the release zone that intersect to Lake Huron
# path to release zone shapefile
release_zone_path = r"/mnt/d/Users/abolmaal/Arcgis/NASAOceanProject/GIS_layer/particle_tracking_output"
intersection = "initial_positions_releasezone_intersection.shp"
release_zone_intersect = os.path.join(release_zone_path, 'initial_positions_releasezone_intersection.shp')

# temporary file to store the release zone

temp_out_name = os.path.join(release_zone_path, 'initial_positions_releasezone.shp')

In [ ]:
# path to final output file
out_path = '/home/abolmaal/modelling/FVCOM/Huron/input/initial_position'

# name of the output file that is multigrouped and ready to be used in FVCOM
output_file_initial_releasezone_multigroup = os.path.join(out_path, 'initial_positions_releasezone_intersection_multigroup.dat')
#out_name_multi= os.path.join(output_file_initial_releasezone_multigroup, 'initial_positions_multigroup.dat')

# Evironments
create directory/Folders

#### Part1-2: Read the initial position file(from watreshed and lake intersections) and rename the columns

# Parameters/ temporary

In [ ]:
# specify the parameters to Create release zone
# Release zone  
radius = 0.01
# target number of particles
n_particles_target = 200

# Release depths
depth_below_surface = 0.0

# define the watershed number
watershed_num = "group_id"

# Reading the data

In [ ]:
# reading the pouropoints file
df_pourpoint = pd.read_csv(init_file, skiprows=0,sep=' ',header=None)
# rename the columns
df_pourpoint.rename(columns={0: watershed_num, 1:"lon",2:"lat",3:"depth"}, inplace=True)
df_pourpoint

     group_id         lon        lat  depth
0           0  275.334153  45.745069      0
1           2  275.513959  45.663186      0
2           3  275.765637  45.637359      0
3           4  275.535180  45.655930      0
4           5  275.874276  45.536123      0
..        ...         ...        ...    ...
125       128  276.574027  45.061541      0
126       129  275.921621  45.487321      0
127       130  276.603434  43.818418      0
128       135  277.582439  42.971675      0
129       147  276.534207  43.738642      0

[130 rows x 4 columns]

# Main Function

# Create a release zone and save it

In [ ]:
# list to accumulate release zones
release_zones = []

# Loop through the rows of the DataFrame
for index, row in df_pourpoint.iterrows():
    group_id = row[watershed_num]
    lat = row['lat']
    lon = row['lon']
    
    # Create the release zone
    surface_release_zone = create_release_zone(group_id = group_id,
                                           radius = radius,
                                           centre = [lon, lat],
                                           n_particles = n_particles_target,
                                           depth = depth_below_surface,
                                           random = False)
    
    # accumulate the release zones
    release_zones.append(surface_release_zone)
    

# Write data to file
create_initial_positions_file_multi_group(output_file_initial_releasezone_multigroup, release_zones)

In this part I save the initial position file as shape file and I used arcpy to remove the points that are not inside Lake Huron.

Code for removing the points is in InDirectNutrientLoad_Arcpy directory and it's called Initial_position_removeoutsidelakepoints

In [ ]:
# read file name
# temp name
df_temp = pd.read_csv(output_file_initial_releasezone_multigroup, skiprows=1,sep=' ',header=None)
# rename the columns
df_temp.rename(columns={0:"group_id", 1:"lon",2:"lat",3:"depth"}, inplace=True)
df_temp.head()

   group_id         lon        lat  depth
0       0.0  275.334153  45.735069    0.0
1       0.0  275.329868  45.736498    0.0
2       0.0  275.331296  45.736498    0.0
3       0.0  275.332725  45.736498    0.0
4       0.0  275.334153  45.736498    0.0

# note define this top

In [ ]:
# save the dataframe as a shapefile in temp_out directory with temp_out_name
gdf = gpd.GeoDataFrame(df_temp, geometry=gpd.points_from_xy(df_temp.lon, df_temp.lat))
# this is written as WGS84
gdf.crs = 'EPSG:4326'
gdf.to_file(temp_out_name)

In [22]:
temp_out_name

'/mnt/d/Users/abolmaal/Arcgis/NASAOceanProject/GIS_layer/particle_tracking_output/initial_positions_releasezone.shp'

# 3-Solve an error related to PyLag

My Lat and lon number has more than 10 digits and when I run it through Pylag it gives me this error:ValueError: invalid literal for int() with base 10: '0.0' so to avoid this I want to read Lat and Lon and round them by 10

Once I removed the points outside Lake Boundary I read the cleaned point here again 
- make sure Longitudes are in 360 degree 
- Lat and Lon are rounded to 10 
- Save the file as dat file

In [23]:
# read the release zone shapefile that intersect with Lake Huron
release_zone_intersect = gpd.read_file(release_zone_intersect)
release_zone_intersect.head()

,FID_initia,group_id,lon,lat,depth,FID_hydro_,HYDRO_P_,UIDENT,TYPE,COUNTRY,NAMEEN,NAMESP,NAMEFR,geometry
0,18205,124.0,277.574766,43.019242,0.0,0,3261,552202,16,USA,Lake Huron,Lake Huron/Lac Huron,Lac Huron,POINT (-82.42523 43.01924)
1,18216,124.0,277.573338,43.020670,0.0,0,3261,552202,16,USA,Lake Huron,Lake Huron/Lac Huron,Lac Huron,POINT (-82.42666 43.02067)
2,18217,124.0,277.574766,43.020670,0.0,0,3261,552202,16,USA,Lake Huron,Lake Huron/Lac Huron,Lac Huron,POINT (-82.42523 43.02067)
3,18218,124.0,277.576195,43.020670,0.0,0,3261,552202,16,USA,Lake Huron,Lake Huron/Lac Huron,Lac Huron,POINT (-82.42381 43.02067)
4,18228,124.0,277.571909,43.022099,0.0,0,3261,552202,16,USA,Lake Huron,Lake Huron/Lac Huron,Lac Huron,POINT (-82.42809 43.02210)

In [ ]:
# keep only the group_id, lon, lat, and depth columns
release_zone_intersect = release_zone_intersect[['group_id', 'lon', 'lat', 'depth']]
# sort the data from group_id
release_zone_intersect = release_zone_intersect.sort_values(by=[watershed_num])
# if df[lon] and df[lat] are greater than 10 digits round them to 10 digits
release_zone_intersect['lon'] = release_zone_intersect['lon'].round(10)
release_zone_intersect['lat'] = release_zone_intersect['lat'].round(10)
# group_id to integer
release_zone_intersect['group_id'] = release_zone_intersect['group_id'].astype(int)
# depth integer
release_zone_intersect['depth'] = release_zone_intersect['depth'].astype(int)
# Calculate the total number of particles
n_particles_target = release_zone_intersect['group_id'].count()

# Display `n_particles_target` as part of the header information
print(f"# Total particles: {n_particles_target}")
release_zone_intersect.head()

# Total particles: 8889

      group_id         lon        lat  depth
8888         0  275.334153  45.755069      0
8831         0  275.338439  45.746498      0
8832         0  275.339868  45.746498      0
8833         0  275.341296  45.746498      0
8834         0  275.342725  45.746498      0

# Save outputs

In [25]:
# Write only the total number of particles as the header and data without column names
with open(output_file_initial_releasezone_multigroup, 'w') as file:
    # Write the total number of particles as the header
    file.write(f"{n_particles_target}\n")
    # Write the data without headers
    release_zone_intersect.to_csv(file,sep=' ' ,index=False, header=False)