## Introduction
once we Create pour points in Arc gis their longitudes is in 180 degree but in Pylag it reads the 360 degrees so the following code convert latitude in 360 degree
and Create the initial position files in the order that is acceptable in the initial position of Pylag.

## Required imports

In [2]:
import math
import numpy as np
import pandas as pd

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#path to the data that extraxte from ArcGis shape file, 
#intersection points along lake Huron
#path = "/home/samin/data/FVCOME_OUTPUT/senseflux_intersectpoint_500m_offshore.dat"
#path = "/home/samin/data/FVCOME_OUTPUT/senseflux_intersectpoint_1km_offshore.dat"
#path = "/home/samin/data/FVCOME_OUTPUT/nodes/senseflux_intersectpoint_1km_offshore_updated.dat"
#path = "/home/samin/data/FVCOME_OUTPUT/nodes/GLB_Bdry_buff10km_dem_fil_flowacc_con300_raster_lh_shore_NOAA70k_intersection_table.csv"
path = "/home/abolmaal/data/FVCOME_OUTPUT/Simulations/Huron/input/initial_position/WatershedPourPoints_LH_copy.csv"

In [6]:

# Specify the file path
#file_path = '/home/samin/data/FVCOME_OUTPUT/nodes/GLB_Bdry_buff10km_dem_fil_flowacc_con300_raster_lh_shore_NOAA70k_intersection_table.csv'
file_path = "/home/abolmaal/data/FVCOME_OUTPUT/Simulations/Huron/input/initial_position/WatershedPourPoints_LH_copy.csv"
# Read the CSV file into a pandas DataFrame
df = pd.read_csv(file_path)

# Display the DataFrame
print(df)

     FID  pointid  gridcode  Group_id        lon        lat
0      0      270       559         0 -84.665841  45.745061
1      1      272       435         1 -84.828741  45.749943
2      2      276       557         2 -84.486036  45.663177
3      3      277       560         3 -84.234358  45.637350
4      4      278       585         4 -84.464815  45.655921
..   ...      ...       ...       ...        ...        ...
127  127        0       720       128 -83.425968  45.061532
128  128        0       721       129 -84.078374  45.487312
129  129        0       741       130 -83.396562  43.818410
130  130        0       748       135 -82.406943  43.030980
131  131        0         0       147 -83.465788  43.738634

[132 rows x 6 columns]

In [7]:
# EXTRACT POINT_X, POINT_Y, and Group_ID columns
# rename POINT_X to lon and POINT_Y to lat

df_extracted = df[[ 'Group_id','lon', 'lat']].copy()
print (df_extracted)

     Group_id        lon        lat
0           0 -84.665841  45.745061
1           1 -84.828741  45.749943
2           2 -84.486036  45.663177
3           3 -84.234358  45.637350
4           4 -84.464815  45.655921
..        ...        ...        ...
127       128 -83.425968  45.061532
128       129 -84.078374  45.487312
129       130 -83.396562  43.818410
130       135 -82.406943  43.030980
131       147 -83.465788  43.738634

[132 rows x 3 columns]

# Create Initial Position file

### Release Zone

In [5]:
import numpy as np
from matplotlib import pyplot as plt
import cartopy.feature as cfeature
import cartopy.crs as ccrs
from cartopy.mpl.gridliner import LONGITUDE_FORMATTER, LATITUDE_FORMATTER

from pylag.processing.coordinate import utm_from_lonlat, lonlat_from_utm
from pylag.processing.release_zone import create_release_zones_along_cord
from pylag.processing.plot import create_figure

# Rename col 0 to lon and col 1 to lat

In [9]:
df.rename(columns={0:"lon", 1:"lat"}, inplace=True)

In [10]:
print(df.max())

lon   -82.431921
lat    45.780149
dtype: float64

# Relocate the first column with 360 coordinates

In [8]:
#relocate the first column with 360 coordinates
df_extracted["lon"] = df_extracted["lon"] % 360
print(df_extracted)

     Group_id         lon        lat
0           0  275.334159  45.745061
1           1  275.171259  45.749943
2           2  275.513964  45.663177
3           3  275.765642  45.637350
4           4  275.535185  45.655921
..        ...         ...        ...
127       128  276.574032  45.061532
128       129  275.921626  45.487312
129       130  276.603438  43.818410
130       135  277.593057  43.030980
131       147  276.534212  43.738634

[132 rows x 3 columns]

In [9]:
# relocate lon coloumn with 360 degree
df_extracted["lon"] = df_extracted["lon"] % 360
df_extracted

     Group_ID         lon        lat
0           1  275.276222  45.780149
1           2  275.279741  45.765519
2           3  275.333867  45.744976
3           4  275.350543  45.742696
4           5  275.401315  45.718945
..        ...         ...        ...
209       302  277.470095  43.330875
210       303  277.568079  43.025005
211       304  277.577755  43.008666
212        54  276.591454  45.066514
213       302  277.470095  43.330875

[214 rows x 3 columns]

In [4]:
#relocate the first column with 360 coordinates
#df.iloc[:,0] = df.iloc[:,0] % 360

# add two new coloumns

In [10]:
df_extracted["depth"] = 0.0
df_extracted
#df["group_id"] = 1

     Group_id         lon        lat  depth
0           0  275.334159  45.745061    0.0
1           1  275.171259  45.749943    0.0
2           2  275.513964  45.663177    0.0
3           3  275.765642  45.637350    0.0
4           4  275.535185  45.655921    0.0
..        ...         ...        ...    ...
127       128  276.574032  45.061532    0.0
128       129  275.921626  45.487312    0.0
129       130  276.603438  43.818410    0.0
130       135  277.593057  43.030980    0.0
131       147  276.534212  43.738634    0.0

[132 rows x 4 columns]

In [10]:
df_extracted["depth"] = 0.0

# specify the output directory to save the data

In [15]:
#out_path = '/home/samin/data/FVCOME_OUTPUT/simulations/horon/input/converted_senseflux_intersectpoint_500m_offshore.dat'
out_path = '/home/abolmaal/data/FVCOME_OUTPUT/Simulations/Huron/input/initial_position/WatershedPourPoints_LH_copy_multigroup.dat'

In [18]:
out_path = '/home/abolmaal/data/FVCOME_OUTPUT/nodes/GLB_Bdry_buff10km_dem_fil_flowacc_con300_raster_lh_shore_NOAA70k_intersection_table.dat'

# Specify the order of columns and save them

In [24]:
# out_col_order = ["group_id", "lon","lat", "depth"]
# df.loc[:, out_col_order].to_csv(out_path, sep = ' ', index = False, header=False)

In [16]:
out_col_order = ["Group_id", "lon","lat", "depth"]
df_extracted.loc[:, out_col_order].to_csv(out_path, sep = ' ', index = False, header=False)